@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@plugin "tailwind-scrollbar" {
    nocompatible: true;
}
@theme {
    --font-lobster: "Lobster", cursive;
    --font-jost: "Jost", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    /* Define animation */
    --animate-movingY: move 3s linear infinite;
    --animate-rotating: rotate 15s linear infinite;
    --animate-scaleUp: scaleUp 3s linear infinite;
}

@keyframes move {
    50% {
        transform: translateY(-1rem);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.8);
    }
}


body {
    @apply bg-green-950 text-black font-jost

}

.nav-link {
    @apply text-lg font-bold duration-300;
}

.nav-link:hover {
    @apply text-yellow-500;
}

.section {
    @apply py-20 md:py-28;
}

h1 {
    @apply text-3xl md:text-4xl xl:text-5xl font-bold;
}

.btn {
    @apply border border-yellow-500 bg-yellow-500 rounded-2xl px-5 py-2 duration-300 cursor-pointer;
}

.btn span {
    @apply font-bold;
}

.btn:hover {
    @apply opacity-90;
}

.btn_outline {
    @apply bg-transparent;
}

.btn_outline:hover {
    @apply bg-yellow-500 text-white;
}


.title-landing {
    @apply font-lobster text-yellow-400
}

h2 {
    @apply text-3xl md:text-4xl xl:text-5xl font-bold
}

h3 {
    @apply text-2xl md:text-3xl xl:text-4xl font-bold
}

.swiper-pagination {
    position: relative !important;
    margin-top: 2rem !important;
}

@keyframes gradient-x {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
  
  .animate-gradient-x {
    background-size: 200% 200%;
    animation: gradient-x 2s ease infinite;
  }
  